<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>Detail Books</h2>
      <p>title</p>
      <%= @book.title %>
      <p>body</p>
      <%= @book.body %>
      <%= link_to "Edit", edit_book_path, class:"btn btn-success"　%>
       |
      <%= link_to "Back", books_path, class:"btn btn-danger" %>
    </div>
  </div>
</div>