<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h1>Bookersについて</h1>
      <h2>Bookersは自分が読んだ書籍の内容や感想を投稿し、</h2>
      <h2>意見や情報を共有するサイトです。</h2>

      <div>
        <%= link_to "Start", books_path, class:"btn btn-success" %>
        <%= link_to "Back", home_path, class:"btn btn-danger" %>
      </div>
    </div>
  </div>
</div>